/**
 * Fluent Design Base Styles
 * 导入主题令牌和通用基础样式
 */

/* 导入所有主题令牌 */
@import "./../theme/tokens/index.css";

/* 以下是通用基础样式 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fontFamilyBase);
}
